* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.1);
}

a {
    color: inherit;
}

h2 {
    margin-bottom: 0.5rem;
}

button:hover {
    filter: brightness(90%);
}

.wrapper {
    margin: 2rem;
    padding: 5rem 1rem;
    border-top: 10px solid black;
}